# Data Analysis of Global Covid Cases
### This notebook does a daily scrape of live data on global coronavirus case counts. This is an ongoing data and I haven't decided what to do with this data yet.
#### Author: Khyatee Desai

In [13]:
import re
import csv
import json
from datetime import date
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Live data (https://www.worldometers.info/coronavirus) resets ~8pmEST. 
# Scrape live data - contains "today" and "yesterday" data.
Last run: 4/15/2020 2:00 PM EST

In [86]:
# base_url = 'https://www.worldometers.info/coronavirus/#countries'
# r = requests.get(base_url)
# outfile = open(str(date.today()) + '.html', 'w')
# outfile.write(r.text)
# outfile.close()

### Get Table Headers Once
Create empty list and add headers to it

In [52]:
# html = open(str(date.today()) + '.html','r')
# soup = BeautifulSoup(html, "html.parser")
# table = soup.find(id='main_table_countries_today')
# headers = table.find('thead').find('tr')
# headers = headers.text.split('\n')
# headers[12] = 'Tests/1M pop'
# headers[13] = 'Continent'
# headers = headers[1:14]
# headers

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'Continent']

### CURRENT Case Count
Parses out daily cases for each country and creates list of lists "df"

In [85]:
to_df = []
to_df.append(headers)
base_url = 'https://www.worldometers.info/coronavirus/#countries'
r = requests.get(base_url)
soup = BeautifulSoup(r.text, "html.parser")
table = soup.find(id='main_table_countries_today')
countries = table.find('tbody').findAll('tr')
for country in countries[7:]:
    items=[]
    items = country.text.split('\n')
    to_df.append(items[1:])
current_cases_df = pd.DataFrame(to_df)
current_cases_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent,None
1,World,"2,049,849","+51,989","132,835","+6,235","507,782","1,409,232","51,153",263,17.0,,,All,
2,USA,"622,412","+8,526","27,549","+1,502","47,707","547,156","13,477","1,880",83,"3,154,384","9,530",North America,
3,Spain,"177,633","+3,573","18,579",+324,"70,853","88,201","7,371","3,799",397,"600,000","12,833",Europe,
4,Italy,"165,155","+2,667","21,645",+578,"38,092","105,418","3,079","2,732",358,"1,117,404","18,481",Europe,

### Final Counts for April 12

In [80]:
to_df = []
to_df.append(headers)
html = open("2020-04-13" + '.html','r')
soup = BeautifulSoup(html, "html.parser")
table = soup.find(id='main_table_countries_yesterday')
countries = table.find('tbody').findAll('tr')
for country in countries[7:]:
    items=[]
    items = country.text.split('\n')
    to_df.append(items[1:])
apr12_df = pd.DataFrame(to_df)
apr12_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent,None
1,World,"1,852,365","+72,523","114,196","+5,417","423,399","1,314,770","50,758",238,14.7,,,All,
2,China,"82,160",+108,"3,341",+2,"77,663","1,156",121,57,2,,,Asia,
3,USA,"560,300","+27,421","22,105","+1,528","32,634","505,561","11,766","1,693",67,"2,832,258","8,557",North America,
4,Spain,"166,831","+3,804","17,209",+603,"62,391","87,231","7,371","3,568",368,"355,000","7,593",Europe,
5,Italy,"156,363","+4,092","19,899",+431,"34,211","102,253","3,343","2,586",329,"1,010,193","16,708",Europe,
6,France,"132,591","+2,937","14,393",+561,"27,186","91,012","6,845","2,031",221,"333,807","5,114",Europe,
7,Germany,"127,854","+2,402","3,022",+151,"60,300","64,532","4,895","1,526",36,"1,317,887","15,730",Europe,
8,UK,"84,279","+5,288","10,612",+737,N/A,"73,323","1,559","1,241",156,"352,974","5,200",Europe,
9,Iran,"71,686","+1,657","4,474",+117,"43,894","23,318","3,930",853,53,"263,388","3,136",Asia,

### Final Cases for April 13

In [81]:
to_df = []
to_df.append(headers)
html = open("2020-04-14" + '.html','r')
soup = BeautifulSoup(html, "html.parser")
table = soup.find(id='main_table_countries_yesterday')
countries = table.find('tbody').findAll('tr')
for country in countries[7:]:
    items=[]
    items = country.text.split('\n')
    to_df.append(items[1:])
apr13_df = pd.DataFrame(to_df)
apr13_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent,None
1,World,"1,923,848","+71,591","119,618","+5,423","444,636","1,359,594","51,747",247,15.3,,,All,
2,China,"82,160",+108,"3,341",+2,"77,663","1,156",121,57,2,,,Asia,
3,USA,"586,941","+26,641","23,640","+1,535","36,948","526,353","12,772","1,773",71,"2,943,955","8,894",North America,
4,Spain,"170,099","+3,268","17,756",+547,"64,727","87,616","7,371","3,638",380,"600,000","12,833",Europe,
5,Italy,"159,516","+3,153","20,465",+566,"35,435","103,616","3,260","2,638",338,"1,046,910","17,315",Europe,
6,France,"136,779","+4,188","14,967",+574,"27,718","94,094","6,821","2,095",229,"333,807","5,114",Europe,
7,Germany,"130,072","+2,218","3,194",+172,"64,300","62,578","4,895","1,552",38,"1,317,887","15,730",Europe,
8,UK,"88,621","+4,342","11,329",+717,N/A,"76,948","1,559","1,305",167,"367,667","5,416",Europe,
9,Iran,"73,303","+1,617","4,585",+111,"45,983","22,735","3,877",873,55,"275,427","3,279",Asia,

## Final Cases for April 14

In [84]:
to_df = []
to_df.append(headers)
html = open("2020-04-15" + '.html','r')
soup = BeautifulSoup(html, "html.parser")
table = soup.find(id='main_table_countries_yesterday')
countries = table.find('tbody').findAll('tr')
for country in countries[7:]:
    items=[]
    items = country.text.split('\n')
    to_df.append(items[1:])
apr14_df = pd.DataFrame(to_df)
apr14_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent,None
1,World,"1,997,860","+74,012","126,600","+6,982","478,516","1,392,744","51,612",256,16.2,,,All,
2,China,"82,249",+89,"3,341",,"77,738","1,170",116,57,2,,,Asia,
3,USA,"613,886","+26,945","26,047","+2,407","38,820","549,019","13,473","1,855",79,"3,065,019","9,260",North America,
4,Spain,"174,060","+3,961","18,255",+499,"67,504","88,301","7,371","3,723",390,"600,000","12,833",Europe,
5,Italy,"162,488","+2,972","21,067",+602,"37,130","104,291","3,186","2,687",348,"1,073,689","17,758",Europe,
6,France,"143,303","+6,524","15,729",+762,"28,805","98,769","6,730","2,195",241,"333,807","5,114",Europe,
7,Germany,"132,210","+2,138","3,495",+301,"68,200","60,515","4,288","1,578",42,"1,317,887","15,730",Europe,
8,UK,"93,873","+5,252","12,107",+778,N/A,"81,422","1,559","1,383",178,"382,650","5,637",Europe,
9,Iran,"74,877","+1,574","4,683",+98,"48,129","22,065","3,691",891,56,"287,359","3,421",Asia,

## Final Cases for April 15

In [89]:
to_df = []
to_df.append(headers)
html = open("2020-04-16" + '.html','r')
soup = BeautifulSoup(html, "html.parser")
table = soup.find(id='main_table_countries_yesterday')
countries = table.find('tbody').findAll('tr')
for country in countries[7:]:
    items=[]
    items = country.text.split('\n')
    to_df.append(items[1:])
apr14_df = pd.DataFrame(to_df)
apr14_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Continent,None
1,World,"2,181,308","+95,022","145,470","+6,996","547,069","1,488,769","56,602",280,18.7,,,All,
2,China,"82,341",+46,"3,342",,"77,892","1,107",95,57,2,,,Asia,
3,USA,"677,570","+29,567","34,617","+2,174","57,508","585,445","13,369","2,047",105,"3,398,140","10,266",North America,
4,Spain,"184,948","+4,289","19,315",+503,"74,797","90,836","7,371","3,956",413,"930,230","19,896",Europe,
5,Italy,"168,941","+3,786","22,170",+525,"40,164","106,607","2,936","2,794",367,"1,178,403","19,490",Europe,
6,France,"165,027","+17,164","17,920",+753,"32,812","114,295","6,248","2,528",275,"333,807","5,114",Europe,
7,Germany,"137,698","+2,945","4,052",+248,"77,000","56,646","4,288","1,643",48,"1,728,357","20,629",Europe,
8,UK,"103,093","+4,617","13,729",+861,N/A,"89,020","1,559","1,519",202,"417,649","6,152",Europe,
9,Iran,"77,995","+1,606","4,869",+92,"52,229","20,897","3,594",929,58,"310,340","3,695",Asia,

======================================================================================================================

# Play with the Data